<form action="javascript:void(0);" data-id="todo-create">
  <div class="form-group">
    <input type="text" placeholder="Enter todo" class="form-control" data-field="task">
    <div class="form-group error hide" data-field-error="task"></div>
  </div>
  <div class="form-group">
    <a class="btn btn-primary" data-action="add">Add Todo</a>
    <a class="btn btn-default" data-action="cancel">Cancel</a>
  </div>
</form>
